# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode

# Directories
models/
results/
mlruns/

# File Extensions
*.pickle
*.pyc
*.pt

# Environment Variables
.env

# Installer logs
pip-log.txt
